
<div>
  <mat-nav-list color="white">

      <a mat-list-item [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']">
        <fa-icon [icon]="_faHouse"></fa-icon><span class="matnav-menu-full-width">&nbsp;&nbsp;Dashboard</span>
      </a>

      <a mat-list-item [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/customers']">
        <fa-icon [icon]="_faUsersGear"></fa-icon><span class="matnav-menu-full-width">&nbsp;&nbsp;Customers</span>
      </a>

      <a mat-list-item [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/employees']">
        <fa-icon [icon]="_faBuildingUser"></fa-icon><span class="matnav-menu-full-width">&nbsp;&nbsp;Employees</span>
    </a>

    <br><br>
    <span class="white-text">{{currentTheme}}</span>
    <br>
    <button class="btn btn-outline" (click)="setPrevTheme()">Prev Theme</button><button class="btn btn-outline" (click)="setNextTheme()">Next Theme</button>
  </mat-nav-list>
</div>
