
<div class="page-wrapper">
    <mat-sidenav-container fullscreen>
        

        <mat-sidenav mode="side" opened>
            <img class="nav-img" src="assets/images/calvin-and-hobbes-small.jpg">
            <app-navigation>
            </app-navigation>
        </mat-sidenav>

        <mat-sidenav-content>

            <app-top-nav-bar></app-top-nav-bar>

            <div class="wrapper wrapper-content">
                <router-outlet></router-outlet>
            </div>

            <app-page-footer></app-page-footer>
    
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>